### Get the data

In [1]:
import pandas as pd

In [2]:
import matplotlib.pyplot as plt
plt.style.use('classic')
%config InlineBackend.figure_format = 'retina'
%matplotlib inline
import seaborn as sns

### Import Long format

In [18]:
afl_long = pd.read_csv("afl_long_to14.csv")
long = afl_long
long.tail()

,Unnamed: 0,year,team,tm_pts,opp_team,op_pts,venue,tm,op,hvar,lr,tm_var
30629,15315,2018,Brisbane,82,GWS Giants,109,Gabba,BR,GW,-27,1,-27
30630,15316,2018,North Melbourne,77,Western Bulldogs,75,Docklands,NM,WB,-2,0,2
30631,15316,2018,Western Bulldogs,75,North Melbourne,77,Docklands,WB,NM,-2,1,-2
30632,15317,2018,Collingwood,79,Carlton,59,M.C.G.,CO,CA,20,1,20
30633,15317,2018,Carlton,59,Collingwood,79,M.C.G.,CA,CO,20,0,-20

In [19]:
long.dtypes

Unnamed: 0     int64
year           int64
team          object
tm_pts         int64
opp_team      object
op_pts         int64
venue         object
tm            object
op            object
hvar           int64
lr             int64
tm_var         int64
dtype: object

### Need to rename the first column to seq_match - currently 'Unnamed:0'

In [28]:
cols_adj = long.columns
cols_adj = ['seq_match','year','team','tm_pts','opp_team','op_pts','venue','tm','op','hvar','lr','tm_var']

In [30]:
long.columns = cols_adj
long.tail()

,seq_match,year,team,tm_pts,opp_team,op_pts,venue,tm,op,hvar,lr,tm_var
30629,15315,2018,Brisbane,82,GWS Giants,109,Gabba,BR,GW,-27,1,-27
30630,15316,2018,North Melbourne,77,Western Bulldogs,75,Docklands,NM,WB,-2,0,2
30631,15316,2018,Western Bulldogs,75,North Melbourne,77,Docklands,WB,NM,-2,1,-2
30632,15317,2018,Collingwood,79,Carlton,59,M.C.G.,CO,CA,20,1,20
30633,15317,2018,Carlton,59,Collingwood,79,M.C.G.,CA,CO,20,0,-20

### Create aggr

In [33]:
long['aggr'] = long['tm_pts'] + long['op_pts']
long.tail()

,seq_match,year,team,tm_pts,opp_team,op_pts,venue,tm,op,hvar,lr,tm_var,aggr
30629,15315,2018,Brisbane,82,GWS Giants,109,Gabba,BR,GW,-27,1,-27,191
30630,15316,2018,North Melbourne,77,Western Bulldogs,75,Docklands,NM,WB,-2,0,2,152
30631,15316,2018,Western Bulldogs,75,North Melbourne,77,Docklands,WB,NM,-2,1,-2,152
30632,15317,2018,Collingwood,79,Carlton,59,M.C.G.,CO,CA,20,1,20,138
30633,15317,2018,Carlton,59,Collingwood,79,M.C.G.,CA,CO,20,0,-20,138

### Create draws columns

## Aggregate data by year

In [21]:
#agg_yrs = long.groupby(by=['year'])[['aggr']].mean().round(3)
#agg_yrs.tail()

In [23]:
# long.plot(kind = 'line', y = 'aggr')