Required initial steps:
    
    1. The text file from https://afltables.com/afl/stats/biglists/bg3.txt is saved as llist.txt within sports_data
    2. The file is then processed through the bash script file a_updater.sh to convert it to a csv.
    3. The bash file saves the processed file as newlist.csv, ready to be imported from within Python

Specific instructions for step 2:
    Type the following in Terminal:  ./a_updater.sh [from the data_projects/sports_data directory]

In [1]:
import os

In [2]:
os.getcwd()

'/Users/stevegabriel/data_projects/sports_data'

In [3]:
import pandas as pd
cols = ['seq','date','round','team1','gls_1','bhs_1','pts_1','team2','gls_2','bhs_2','pts_2','venue']

In [4]:
upd_round = pd.read_csv("newlist.csv", names = cols)
trans = upd_round

In [5]:
# Modify index to start at 1 
trans.index += 1
trans.tail()

,seq,date,round,team1,gls_1,bhs_1,pts_1,team2,gls_2,bhs_2,pts_2,venue
15493,15493,25-May-2019,R10,Richmond,10,13,73,Essendon,6,14,50,M.C.G.
15494,15494,25-May-2019,R10,Gold Coast,9,10,64,Geelong,13,13,91,Carrara
15495,15495,26-May-2019,R10,Melbourne,10,8,68,GW Sydney,14,10,94,M.C.G.
15496,15496,26-May-2019,R10,St Kilda,9,14,68,Carlton,8,7,55,Docklands
15497,15497,26-May-2019,R10,Fremantle,10,13,73,Brisbane Lions,10,12,72,Perth Stadium

In [6]:
# Add states
nsw = ['S.C.G.','Sydney Showground','Stadium Australia','Blacktown','Albury']
qld = ['Gabba','Carrara','Cazaly\'s Stadium','Brisbane Exhibition']
sa = ['Football Park','Adelaide Oval']
wa = ['W.A.C.A.','Perth Stadium','Subiaco']
nt = ['Marrara Oval','Traeger Park']
tas = ['York Park','Bellerive Oval','North Hobart']
act = ['Manuka Oval','Bruce Stadium']
intl = ['Wellington','Jiangwan Stadium']

In [7]:
def locations(x):
    if x in nsw:
        return "NSW"
    elif x in sa:
        return "SA"
    elif x in wa:
        return "WA"
    elif x in nt:
        return "NT"
    elif x in tas:
        return "TAS"
    elif x in intl:
        return "INTL"
    elif x in act:
        return "ACT"
    elif x in qld:
        return "QLD"
    else: 
        return "VIC"

In [8]:
trans["state"] = trans["venue"].apply(locations)
trans["state"].value_counts()

VIC     13085
WA        652
SA        583
NSW       520
QLD       484
TAS        94
ACT        50
NT         24
INTL        5
Name: state, dtype: int64

### Check that the most recent round is included:

In [9]:
trans.tail(9)

,seq,date,round,team1,gls_1,bhs_1,pts_1,team2,gls_2,bhs_2,pts_2,venue,state
15489,15489,24-May-2019,R10,Sydney,11,7,73,Collingwood,11,14,80,S.C.G.,NSW
15490,15490,25-May-2019,R10,Hawthorn,12,8,80,Port Adelaide,6,13,49,York Park,TAS
15491,15491,25-May-2019,R10,Western Bulldogs,13,12,90,North Melbourne,18,7,115,Docklands,VIC
15492,15492,25-May-2019,R10,Adelaide,10,13,73,West Coast,13,7,85,Adelaide Oval,SA
15493,15493,25-May-2019,R10,Richmond,10,13,73,Essendon,6,14,50,M.C.G.,VIC
15494,15494,25-May-2019,R10,Gold Coast,9,10,64,Geelong,13,13,91,Carrara,QLD
15495,15495,26-May-2019,R10,Melbourne,10,8,68,GW Sydney,14,10,94,M.C.G.,VIC
15496,15496,26-May-2019,R10,St Kilda,9,14,68,Carlton,8,7,55,Docklands,VIC
15497,15497,26-May-2019,R10,Fremantle,10,13,73,Brisbane Lions,10,12,72,Perth Stadium,WA

## 1. HVAR & AGGR

In [10]:
trans['hvar'] = trans['pts_1'] - trans['pts_2']
trans['aggr'] = trans['pts_1'] + trans['pts_2']

## 2. YEAR & MONTH

In [11]:
import time
import datetime

In [12]:
trans['date'] = pd.to_datetime(trans['date'])
trans['year'], trans['month'] = trans['date'].dt.year, trans['date'].dt.month

## 3. ABBREVIATED CLUB NAMES

In [13]:
adelaide = ['Adelaide']
brisbane = ['Brisbane Bears','Brisbane Lions']
carlton = ['Carlton']
collingwood = ['Collingwood']
essendon = ['Essendon']
fitzroy = ['Fitzroy']
footscray = ['Footscray']
fremantle = ['Fremantle']
geelong = ['Geelong']
gold_coast = ['Gold Coast']
gws = ['GW Sydney']
hawthorn = ['Hawthorn']
melbourne = ['Melbourne']
north_melbourne = ['North Melbourne','Kangaroos']
port_adelaide = ['Port Adelaide']
richmond = ['Richmond']
south_melbourne = ['South Melbourne']
st_kilda = ['St Kilda']
sydney = ['Sydney']
west_coast = ['West Coast']
western_bulldogs = ['Western Bulldogs', 'Footscray']
university = ['University']

In [14]:
def team_shorten(x):
    if x in adelaide:
        return "AD"
    elif x in brisbane:
        return "BR"
    elif x in carlton:
        return "CA"
    elif x in collingwood:
        return "CO"
    elif x in essendon:
        return "ES"
    elif x in fitzroy:
        return "FI"
    elif x in fremantle:
        return "FR"
    elif x in geelong:
        return "GE"
    elif x in gold_coast:
        return "GC"
    elif x in gws:
        return "GW"
    elif x in hawthorn:
        return "HA"
    elif x in melbourne:
        return "ME"
    elif x in north_melbourne:
        return "NM"
    elif x in port_adelaide:
        return "PA"
    elif x in richmond:
        return "RI"
    elif x in south_melbourne:
        return "SM"
    elif x in st_kilda:
        return "SK"
    elif x in sydney:
        return "SY"
    elif x in west_coast:
        return "WC"
    elif x in western_bulldogs:
        return "WB"
    elif x in university:
        return "UN"
    else: 
        return "NOT_FOUND"

In [15]:
trans["t1"] = trans["team1"].apply(team_shorten)
trans["t2"] = trans["team2"].apply(team_shorten)

In [16]:
trans['t1'].value_counts().sum()

15497

# 4. FIX TEAM NAMES ANOMOLIES

* Merge Footscray & Western Bulldogs as **Western Bulldogs**
* Merge North Melbourne with Kangaroos as **North Melbourne**
* Merge Brisbane Lions with Brisbane Bears as **Brisbane**
* Leave Sydney and **South Melbourne** as separate
* Leave **Fitzroy** as separate
* Modify GW Sydney to **GWS Giants**

In [17]:
# Function from Analytics Vidhya
def coding(col, codeDict):
  colCoded = pd.Series(col, copy=True)
  for key, value in codeDict.items():
    colCoded.replace(key, value, inplace=True)
  return colCoded

In [18]:
trans["team1"] = coding(trans["team1"], {'Footscray':'Western Bulldogs'})
trans["team2"] = coding(trans["team2"], {'Footscray':'Western Bulldogs'})
trans["team1"] = coding(trans["team1"], {'Kangaroos':'North Melbourne'})
trans["team2"] = coding(trans["team2"], {'Kangaroos':'North Melbourne'})
trans["team1"] = coding(trans["team1"], {'Brisbane Bears':'Brisbane','Brisbane Lions':'Brisbane'})
trans["team2"] = coding(trans["team2"], {'Brisbane Bears':'Brisbane','Brisbane Lions':'Brisbane'})
trans["team1"] = coding(trans["team1"], {'GW Sydney':'GWS Giants'})
trans["team2"] = coding(trans["team2"], {'GW Sydney':'GWS Giants'})

In [19]:
trans["team2"].value_counts()

Collingwood         1280
Carlton             1257
Essendon            1228
Geelong             1224
Melbourne           1196
St Kilda            1195
Richmond            1124
North Melbourne      991
Hawthorn             984
Western Bulldogs     979
Fitzroy              960
South Melbourne      788
Sydney               437
West Coast           381
Brisbane             364
Adelaide             330
Fremantle            278
Port Adelaide        259
Gold Coast            93
GWS Giants            86
University            63
Name: team2, dtype: int64

# 5. ALL DRAWS (BOOLEAN)

In [20]:
def reg_draw(hvar):
    if hvar == 0:
        return 1
    else: return 0

In [21]:
trans["draw_rt"] = trans["hvar"].apply(reg_draw)

In [22]:
trans['draw_rt'].value_counts()

0    15339
1      158
Name: draw_rt, dtype: int64

### The ET draws

In [23]:
def et_draw(seq):
    if seq == 10794:
        return 1
    elif seq == 13203:
        return 1
    else: return 0

In [24]:
trans["etime_draw"] = trans["seq"].apply(et_draw)
trans['etime_draw'].value_counts()

0    15495
1        2
Name: etime_draw, dtype: int64

In [25]:
### Add the two columns
trans['draws_all']  = trans['draw_rt'] + trans['etime_draw']
trans['draws_all'].value_counts()

0    15337
1      160
Name: draws_all, dtype: int64

In [26]:
# Check
trans.iloc[:,:][(trans.etime_draw == 1)]

,seq,date,round,team1,gls_1,bhs_1,pts_1,team2,gls_2,bhs_2,...,state,hvar,aggr,year,month,t1,t2,draw_rt,etime_draw,draws_all
10794,10794,1994-09-10,QF,North Melbourne,15,24,114,Hawthorn,13,13,...,VIC,23,205,1994,9,NM,HA,0,1,1
13203,13203,2007-09-14,SF,Collingwood,13,15,93,West Coast,10,14,...,WA,19,167,2007,9,CO,WC,0,1,1

# 6. GAME CATEGORY

In [27]:
finals = ['EF','QF','SF','PF','GF']

In [28]:
def game_cat(x):
    if x in finals:
        return "final"
    else: 
        return "reg_season"

In [29]:
trans["type"] = trans["round"].apply(game_cat)

In [30]:
trans['type'].value_counts()

reg_season    14842
final           655
Name: type, dtype: int64

In [31]:
trans.tail()

,seq,date,round,team1,gls_1,bhs_1,pts_1,team2,gls_2,bhs_2,...,hvar,aggr,year,month,t1,t2,draw_rt,etime_draw,draws_all,type
15493,15493,2019-05-25,R10,Richmond,10,13,73,Essendon,6,14,...,23,123,2019,5,RI,ES,0,0,0,reg_season
15494,15494,2019-05-25,R10,Gold Coast,9,10,64,Geelong,13,13,...,-27,155,2019,5,GC,GE,0,0,0,reg_season
15495,15495,2019-05-26,R10,Melbourne,10,8,68,GWS Giants,14,10,...,-26,162,2019,5,ME,GW,0,0,0,reg_season
15496,15496,2019-05-26,R10,St Kilda,9,14,68,Carlton,8,7,...,13,123,2019,5,SK,CA,0,0,0,reg_season
15497,15497,2019-05-26,R10,Fremantle,10,13,73,Brisbane,10,12,...,1,145,2019,5,FR,BR,0,0,0,reg_season

## 7. GROUPING COLUMNS

In [32]:
def grouping_2K(seq):
    n=500
    if seq <= 4*n:
        return 1
    elif seq <= 8*n:
        return 2
    elif seq <= 12*n:
        return 3
    elif seq <= 16*n:
        return 4
    elif seq <= 20*n:
        return 5
    elif seq <= 24*n:
        return 6
    elif seq <= 28*n:
        return 7
    else: return 8

In [33]:
trans["grp_2K"] = trans["seq"].apply(grouping_2K)

In [34]:
def grouping_1K(seq):
    n=1000
    if seq <= n:
        return 1
    elif seq <= 2*n:
        return 2
    elif seq <= 3*n:
        return 3
    elif seq <= 4*n:
        return 4
    elif seq <= 5*n:
        return 5
    elif seq <= 6*n:
        return 6
    elif seq <= 7*n:
        return 7
    elif seq <= 8*n:
        return 8
    elif seq <= 9*n:
        return 9
    elif seq <= 10*n:
        return 10
    elif seq <= 11*n:
        return 11
    elif seq <= 12*n:
        return 12
    elif seq <= 13*n:
        return 13
    elif seq <= 14*n:
        return 14
    elif seq <= 15*n:
        return 15
    else: return 16

In [35]:
trans["grp_1K"] = trans["seq"].apply(grouping_1K)

## 8. ADD res1 and res2 columns as categorical 1 = win, 2 = loss, 3 = draw based on hvar (ignoring the two extra time finals)

In [36]:
def result_cat_h(hvar):
    if hvar > 0:
        return 1
    elif hvar < 0:
        return 2
    else: return 3

In [37]:
def result_cat_a(hvar):
    if hvar > 0:
        return 2
    elif hvar < 0:
        return 1
    else: return 3

In [38]:
trans['res1'] = trans['hvar'].apply(result_cat_h)
trans['res2'] = trans['hvar'].apply(result_cat_a)

## Export wide format results since 1897

In [39]:
trans.to_csv('afl_dataexploration/wide_afl_run.csv')

# PAGEBREAK

# Convert data frame from wide to long format - each game appears twice (once for each team)

## 9. Reduce and re-order the data frame

In [40]:
tracker = trans
tracker = tracker[['year', 'team1','pts_1','team2','pts_2','venue','t1','t2','hvar']]
tracker.tail()

       year       team1  pts_1       team2  pts_2          venue  t1  t2  hvar
15493  2019    Richmond     73    Essendon     50         M.C.G.  RI  ES    23
15494  2019  Gold Coast     64     Geelong     91        Carrara  GC  GE   -27
15495  2019   Melbourne     68  GWS Giants     94         M.C.G.  ME  GW   -26
15496  2019    St Kilda     68     Carlton     55      Docklands  SK  CA    13
15497  2019   Fremantle     73    Brisbane     72  Perth Stadium  FR  BR     1

### Create two new columns with values 1 and 0 for the two subsets

In [41]:
tracker['subset_1'] = 1
tracker['subset_2'] = 0

/Users/stevegabriel/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/Users/stevegabriel/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [42]:
tracker.head()

,year,team1,pts_1,team2,pts_2,venue,t1,t2,hvar,subset_1,subset_2
1,1897,Fitzroy,49,Carlton,16,Brunswick St,FI,CA,33,1,0
2,1897,Collingwood,41,St Kilda,16,Victoria Park,CO,SK,25,1,0
3,1897,Geelong,24,Essendon,47,Corio Oval,GE,ES,-23,1,0
4,1897,South Melbourne,27,Melbourne,44,Lake Oval,SM,ME,-17,1,0
5,1897,South Melbourne,40,Carlton,36,Lake Oval,SM,CA,4,1,0

### List for dropping

In [43]:
droplist_1 = ['subset_2']
droplist_2 = ['subset_1']

In [44]:
left_team = tracker.drop(droplist_1, axis = 1)
right_team = tracker.drop(droplist_2, axis = 1)

In [45]:
left_team.shape

(15497, 10)

In [46]:
right_team.shape

(15497, 10)

### Rename columns in each dframe

In [47]:
left_team.tail()

,year,team1,pts_1,team2,pts_2,venue,t1,t2,hvar,subset_1
15493,2019,Richmond,73,Essendon,50,M.C.G.,RI,ES,23,1
15494,2019,Gold Coast,64,Geelong,91,Carrara,GC,GE,-27,1
15495,2019,Melbourne,68,GWS Giants,94,M.C.G.,ME,GW,-26,1
15496,2019,St Kilda,68,Carlton,55,Docklands,SK,CA,13,1
15497,2019,Fremantle,73,Brisbane,72,Perth Stadium,FR,BR,1,1

In [48]:
left_team.columns = ['year','team','tm_pts','opp_team','op_pts','venue','tm','op','hvar','lr']

In [49]:
left_team.tail()

,year,team,tm_pts,opp_team,op_pts,venue,tm,op,hvar,lr
15493,2019,Richmond,73,Essendon,50,M.C.G.,RI,ES,23,1
15494,2019,Gold Coast,64,Geelong,91,Carrara,GC,GE,-27,1
15495,2019,Melbourne,68,GWS Giants,94,M.C.G.,ME,GW,-26,1
15496,2019,St Kilda,68,Carlton,55,Docklands,SK,CA,13,1
15497,2019,Fremantle,73,Brisbane,72,Perth Stadium,FR,BR,1,1

In [50]:
right_team.tail()

,year,team1,pts_1,team2,pts_2,venue,t1,t2,hvar,subset_2
15493,2019,Richmond,73,Essendon,50,M.C.G.,RI,ES,23,0
15494,2019,Gold Coast,64,Geelong,91,Carrara,GC,GE,-27,0
15495,2019,Melbourne,68,GWS Giants,94,M.C.G.,ME,GW,-26,0
15496,2019,St Kilda,68,Carlton,55,Docklands,SK,CA,13,0
15497,2019,Fremantle,73,Brisbane,72,Perth Stadium,FR,BR,1,0

In [51]:
right_team.columns = ['year','opp_team','op_pts','team','tm_pts','venue','op','tm','hvar','lr']

In [52]:
right_team.tail()

,year,opp_team,op_pts,team,tm_pts,venue,op,tm,hvar,lr
15493,2019,Richmond,73,Essendon,50,M.C.G.,RI,ES,23,0
15494,2019,Gold Coast,64,Geelong,91,Carrara,GC,GE,-27,0
15495,2019,Melbourne,68,GWS Giants,94,M.C.G.,ME,GW,-26,0
15496,2019,St Kilda,68,Carlton,55,Docklands,SK,CA,13,0
15497,2019,Fremantle,73,Brisbane,72,Perth Stadium,FR,BR,1,0

### Now re-order the second dframe to match columns

### Note double brackets to re-order

In [53]:
right_team = right_team[['year', 'team','tm_pts','opp_team','op_pts','venue','tm','op','hvar','lr']]
right_team.tail()

,year,team,tm_pts,opp_team,op_pts,venue,tm,op,hvar,lr
15493,2019,Essendon,50,Richmond,73,M.C.G.,ES,RI,23,0
15494,2019,Geelong,91,Gold Coast,64,Carrara,GE,GC,-27,0
15495,2019,GWS Giants,94,Melbourne,68,M.C.G.,GW,ME,-26,0
15496,2019,Carlton,55,St Kilda,68,Docklands,CA,SK,13,0
15497,2019,Brisbane,72,Fremantle,73,Perth Stadium,BR,FR,1,0

In [54]:
left_team.tail()

,year,team,tm_pts,opp_team,op_pts,venue,tm,op,hvar,lr
15493,2019,Richmond,73,Essendon,50,M.C.G.,RI,ES,23,1
15494,2019,Gold Coast,64,Geelong,91,Carrara,GC,GE,-27,1
15495,2019,Melbourne,68,GWS Giants,94,M.C.G.,ME,GW,-26,1
15496,2019,St Kilda,68,Carlton,55,Docklands,SK,CA,13,1
15497,2019,Fremantle,73,Brisbane,72,Perth Stadium,FR,BR,1,1

## CONCATENATION

### Now very easily, can concatenate the two dframes

In [55]:
merge_ft = pd.concat([left_team, right_team], axis=0)
merge_ft.head()

,year,team,tm_pts,opp_team,op_pts,venue,tm,op,hvar,lr
1,1897,Fitzroy,49,Carlton,16,Brunswick St,FI,CA,33,1
2,1897,Collingwood,41,St Kilda,16,Victoria Park,CO,SK,25,1
3,1897,Geelong,24,Essendon,47,Corio Oval,GE,ES,-23,1
4,1897,South Melbourne,27,Melbourne,44,Lake Oval,SM,ME,-17,1
5,1897,South Melbourne,40,Carlton,36,Lake Oval,SM,CA,4,1

In [56]:
merge_ft.shape

(30994, 10)

In [57]:
merge_ft.tail()

,year,team,tm_pts,opp_team,op_pts,venue,tm,op,hvar,lr
15493,2019,Essendon,50,Richmond,73,M.C.G.,ES,RI,23,0
15494,2019,Geelong,91,Gold Coast,64,Carrara,GE,GC,-27,0
15495,2019,GWS Giants,94,Melbourne,68,M.C.G.,GW,ME,-26,0
15496,2019,Carlton,55,St Kilda,68,Docklands,CA,SK,13,0
15497,2019,Brisbane,72,Fremantle,73,Perth Stadium,BR,FR,1,0

In [58]:
merge_ft.sort_index(inplace=True)
merge_ft.head(10)

,year,team,tm_pts,opp_team,op_pts,venue,tm,op,hvar,lr
1,1897,Fitzroy,49,Carlton,16,Brunswick St,FI,CA,33,1
1,1897,Carlton,16,Fitzroy,49,Brunswick St,CA,FI,33,0
2,1897,Collingwood,41,St Kilda,16,Victoria Park,CO,SK,25,1
2,1897,St Kilda,16,Collingwood,41,Victoria Park,SK,CO,25,0
3,1897,Geelong,24,Essendon,47,Corio Oval,GE,ES,-23,1
3,1897,Essendon,47,Geelong,24,Corio Oval,ES,GE,-23,0
4,1897,South Melbourne,27,Melbourne,44,Lake Oval,SM,ME,-17,1
4,1897,Melbourne,44,South Melbourne,27,Lake Oval,ME,SM,-17,0
5,1897,South Melbourne,40,Carlton,36,Lake Oval,SM,CA,4,1
5,1897,Carlton,36,South Melbourne,40,Lake Oval,CA,SM,4,0

## Create team result column

In [59]:
def neg_hvar(hvar):
        return -1*hvar

In [60]:
merge_ft["neg_dummy"] = merge_ft['hvar'].apply(neg_hvar)

In [61]:
merge_ft.tail()

,year,team,tm_pts,opp_team,op_pts,venue,tm,op,hvar,lr,neg_dummy
15495,2019,Melbourne,68,GWS Giants,94,M.C.G.,ME,GW,-26,1,26
15496,2019,Carlton,55,St Kilda,68,Docklands,CA,SK,13,0,-13
15496,2019,St Kilda,68,Carlton,55,Docklands,SK,CA,13,1,-13
15497,2019,Fremantle,73,Brisbane,72,Perth Stadium,FR,BR,1,1,-1
15497,2019,Brisbane,72,Fremantle,73,Perth Stadium,BR,FR,1,0,-1

In [62]:
def team_var(hvar):
    if merge_ft['lr'] == 1:
        return hvar
    else: return neg_dummy

In [63]:
def new_lr(lr):
    if lr == 0:
        return -1
    else: return 1

In [64]:
merge_ft["new_lr"] = merge_ft['lr'].apply(new_lr)
merge_ft["tm_var"] = merge_ft['new_lr']*merge_ft['hvar']

In [65]:
merge_ft.tail()

,year,team,tm_pts,opp_team,op_pts,venue,tm,op,hvar,lr,neg_dummy,new_lr,tm_var
15495,2019,Melbourne,68,GWS Giants,94,M.C.G.,ME,GW,-26,1,26,1,-26
15496,2019,Carlton,55,St Kilda,68,Docklands,CA,SK,13,0,-13,-1,-13
15496,2019,St Kilda,68,Carlton,55,Docklands,SK,CA,13,1,-13,1,13
15497,2019,Fremantle,73,Brisbane,72,Perth Stadium,FR,BR,1,1,-1,1,1
15497,2019,Brisbane,72,Fremantle,73,Perth Stadium,BR,FR,1,0,-1,-1,-1

### Can now remove the columns new_lr and neg_dummy, which were used to create tm_var

In [66]:
merge_ft = merge_ft.drop(['neg_dummy', 'new_lr'], axis=1)

In [67]:
merge_ft.head()

,year,team,tm_pts,opp_team,op_pts,venue,tm,op,hvar,lr,tm_var
1,1897,Fitzroy,49,Carlton,16,Brunswick St,FI,CA,33,1,33
1,1897,Carlton,16,Fitzroy,49,Brunswick St,CA,FI,33,0,-33
2,1897,Collingwood,41,St Kilda,16,Victoria Park,CO,SK,25,1,25
2,1897,St Kilda,16,Collingwood,41,Victoria Park,SK,CO,25,0,-25
3,1897,Geelong,24,Essendon,47,Corio Oval,GE,ES,-23,1,-23

## Export as csv

In [68]:
merge_ft.to_csv('afl_dataexploration/running_2019_R10.csv')